.footer{
    background-color: $bg-footer;
    padding-top: 64px;
    color: $white;

    &__logo{
        p{
            font-size: 16px;
            margin-top: 1.5rem;
        }
    }

    &__sitemap{
        &--title{
            font-size: 22px; 
            font-family: 'Manrope', sans-serif;
            font-weight: $semi-bold;
            margin-bottom: 1.5rem;
        }

        > div{
            justify-content: space-between;
            padding-right: 2rem;

            ul{
                li{
                    margin-bottom: 1rem;
                    transition: all 320ms ease-out;

                    a{
                        color: $white;
                        transition: all 320ms ease-out;
                    }
                }
            }
        }
    }

    &__subscribe{
        @include media-breakpoint-down(sm){
            margin-top: 2rem;
        }

        &--form{
            justify-content: space-between;

            .form-group{
                max-width: 100%;

                input{
                    width: 100%;
                    margin-bottom: .75rem;
                }
            }

            @include media-breakpoint-down(sm){
                align-items: flex-start;
                flex-direction: column;
            }
        }

        &--button{
            background-color: $blue-100;
            color: $white;
            margin-bottom: .75rem;

            &:hover{
                color: $white;
            }
        }
    }

    &__bottom{
        &--social{
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid rgba($white, .15);
            padding-bottom: 1rem;

            a{
                margin-left: 1.5rem;
            }

            @include media-breakpoint-down(xs){
                justify-content: flex-start;
                padding-top: 1.5rem;

                a{
                    margin-left: 0;
                    margin-right: 1.5rem;
                }
            }
        }

        &--copyright{
            padding: 1rem 0;
            justify-content: space-between;

            @include media-breakpoint-down(xs){
                flex-direction: column;

                a{
                    margin-left: 0 !important;
                    margin-right: 1rem;
                }

                span{
                    margin-bottom: 1rem;
                }
            }

            span{
                font-size: 12px;
                opacity: 0.9;
            }

            a{
                color: $blue-100;
                font-size: 12px;
                opacity: 0.8;
                text-decoration: underline;
                margin-left: 1rem;
            }
        }
    }
}