// Colors
$white: #FFFFFF !default;
$black: #000000 !default;
$gray-100: #F1F2F4 !default; 
$gray-200: #00000014 !default;
$gray-300: #00000033 !default; 
$gray-400: #919DAB !default; 
$gray-500: #141B25 !default;
$blue-100: #655DFF !default;

// Background colors
$bg-primary: #0845A7 !default;
$bg-secondary: #E4F2FF !default;
$bg-info: #34A1FE !default;
$bg-footer: #151B25 !default;

// Text colors
$text-primary: #0F1779 !default;

// Fonts
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;
